@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body,
html * {
  font-family: 'Roboto', sans-serif;
}

.main {
  margin: 2px auto; /* Add auto for horizontal centering */
  display: grid;
  grid-template-columns: 1fr 3fr;
  max-width: 1200px; /* Add a max-width to prevent it from being too wide */
}

.sidebar,
.content {
  padding: 25px;
}

.content {
  margin: 5px auto; /* Change from '5px 20px' to '5px auto' */
  min-width: 400px;
  padding: 8px;
}

.sidebar>h1 {
  text-align: left;
  margin: 2px 2px;
  padding: 2px 8px;
  margin-bottom: 25px;
}

.content>h1 {
  text-align: center;
  padding: 25px;
}

.hidden {
  display: none;
}

/* sidebar */
.sidebar,
.projects {
  display: flex;
  flex-direction: column;
  /* This is the default, but explicitly setting it is good practice */
  flex-wrap: wrap;
  /* Allows items to wrap to the next row if they exceed container width */
}

.projects>* {
  text-align: left;
}

#focus_add_project,
#btn_add_todo {
  font-size: 0.9rem;
  font-weight: 500;
  color: gray;
  flex: 0 0 auto;
  /* Don't grow, don't shrink, size to content */
}

.add_project_text {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.addBtn {
  background: rgb(210, 247, 210);
}


/* make the form inputs stretch to fill the width of it's parent div */
form {
  width: 100%;
  max-width: 300px;
  padding: 0 0px;
}

input,
textarea,
select {
  width: 100%;
  padding: 4px;
  margin: 2px;
  box-sizing: border-box;
}

.lists>* {
  margin: 2px;
  padding: 2px;
}

button {
  border-radius: 8px;
  text-align: left;
  margin: 2px 2px;
  padding: 2px 8px;
  border: none;
  /* Removes the border */
  background-color: #9e9e9e00;
  /* Makes the background completely transparent */
  outline: none;
  /* Removes the outline that appears on focus for accessibility */
}

.todo-item {
  margin: 8px 0px;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
  /* Pushes items to opposite ends */
  background: rgb(239, 243, 240);
  border-radius: 1rem;
}

.todo-item-content {
  display: block;
  align-items: center;
}

.below-title {
  display: flex;
  padding: 2px 0px;
  gap: 5px;
}

.below-title>* {
  align-self: flex-end;
  /* Aligns this specific item to the bottom */
  padding-top: 0px;
}

.todo-item-controls {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1rem;
}

.duedate,
.priority {
  font-size: 0.8rem;
}

.duedate {
  font-weight: 500;
  color: grey;
}

.priority-high {
  background: rgb(249, 84, 84);
  border-radius: 1rem;
  padding: 0px 8px;

}

.priority-medium {
  background: rgb(248, 234, 37);
  border-radius: 1rem;
  padding: 0px 8px;
}


.priority-low {
  background: rgb(188, 255, 198);
  border-radius: 1rem;
  padding: 0px 8px;
}


.edit:hover {
  background: rgb(113, 201, 230);
}

.delete:hover {
  background: rgb(255, 78, 78);
}

button:hover {
  opacity: 1;
  background-color: #dfdfdf;
  /* Green */
  color: rgb(0, 0, 0);
}